@use "../../variables" as *;

.assignment-atoms-button {
  $color-white: #ffffff;
  $color-white: #f5f5f5;
  $color-graydesertStorm: #ece9e6;
  $color-graygainsboro: #dddddd;
  $color-graynobel: #999999;
  $color-orangezorba: #a19283;
  $color-orangebistre: #442606;
  $color-black50: rgba(0, 0, 0, 0.5);
  $color-black: #000000;

  $font-size-XS: 12px;
  $font-size-S: 14px;
  $font-size-M: 16px;
  $font-size-L: 20px;
  $font-size-XL: 36px;
  $font-size-XXL: 40px;
}
